* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-color-darker: #134153;
    --primary-color-dark: #164B60;
    --primary-color: #1B6B93;
    --secondary-color: #4FC0D0;
    --tertiary-color: #35A29F;
    --accent-color: #A2FF86;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.darkBlueBox {
    flex: 1;
    background-color: var(--primary-color-dark);
}

.blueBox {
    flex: 1;
    background-color: var(--tertiary-color);
}

.container {
    position: absolute;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 10px;
}

input, select {
    background-color: lightgray;
    border: none;
    width: 47.5%;
    padding: 0.75rem;
}

.flex-row {
    display: flex;
    column-gap: 10px;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#itemRequestForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

button {
    width: fit-content;
    padding: 1rem;
    background-color: var(--primary-color-dark);
    color: white;
    border-radius: 50px;
    border: var(--primary-color-darker) 1px solid;
    cursor: pointer;
    transition: background 1s ease;
    margin-top: auto;
}

button:hover {
    background-color: var(--primary-color-darker);
}

.miniChatWidget {
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 45%;
    width: 20%;
    color: white;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border: 3px var(--primary-color-darker) solid;
    transition: bottom 1s ease;
}

.chatWidgetHeader {
    width: 100%;
    flex: 1.5;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--primary-color-dark);
    display: flex;
    align-items: center;
}

.miniChatWidgetContent {
    flex: 8.5;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#chooseNameButton {
    margin: 0;
    margin-left: auto;
    background-color: var(--primary-color-darker);
    margin-right: 10px;
}

.userInput {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #23232e;
    background: transparent;
    border-radius: 5px;
    outline: none;
    flex: 3.5;
}

.input-container {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#send-button {
    background-color: #7289DA;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #677bc4;
}

#chat-messages {
    width: 100%;
    flex: 6.5;
    padding: 1rem;
}

.minimize-chat {
    cursor: pointer;
}